body {
  background-color: #e6dbc9;
  color: #2e3830;
}

.navbar {
  background-color: #c53211;
  color: #e6dbc9;
}

p.smallcaps {
  font-variant: small-caps;
}

/* Links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
