{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tasks App</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
  {% endblock %}
</head>
<header>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'home' %}">
      <img src="{% static 'images/T.svg' %}" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true">A</span>
      <span aria-hidden="true">B</span>
      <span aria-hidden="true">C</span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

<!--       <a class="navbar-item">
        Documentation
      </a> -->

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          App Tasks
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'tasks' %}">
            Tasks
          </a>
          <a class="navbar-item" href="{% url 'users_tasks' %}">
            Users' Tasks
          </a>
          <a class="navbar-item" href="{% url 'user_tasks' %}">
            User's Tasks
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

</header>
<body>

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  {% block javascript %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Project JS -->
  <script src="{% static 'js/base.js' %}"></script>

  {% endblock javascript %}
  {% block extra_js %}
  {% endblock extra_js %}

</body>
</html>
